
.container{
    display: flex;
    flex-direction: column;
}
        /* user interface */

        .interface{
            height: 40%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-content: center;
        }

            /* player turns and points  */
            .players{
                height: 30%;
                margin: 1em;
                display: flex;
                align-content: center;
                padding-bottom: 1em;
            }

                .playerPoints{
                    height: 3em;
                    width: 45%;
                    margin: 3%;
                    border: inset 2px grey;
                    background-color: white;
                }

                .names{
                    height: 40%;
                    text-align: center;
                    font-weight: 600;
                    border-bottom: 1px inset grey;
                    background-color: rgb(146, 145, 145);
                    font-family: Arial, Helvetica, sans-serif;
                }

                .tokensSide{
                    height: 60%;
                    line-height: 200%;
                    text-align: center;
                    font-weight: 400;
                    border-bottom: 1px inset grey;
                    background-color: rgb(222, 220, 220);
                    font-family: Arial, Helvetica, sans-serif;
                }

                /* restart button  */
                .reStart{
                    height: 2em;
                    width: 100%;
                    margin: 1em;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }

                    .linkWidth{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }

                        .reStartButton{
                            height: 3em;
                            width: 50%;
                            margin: 1em;
                            background-color: rgb(253, 154, 154);
                            border: outset rgb(253, 165, 165);
                            cursor: pointer;
                        }

                    
            /* table board  */
                .tableBoard{
                    width:  50%;
                    margin: 2px;
                    border: inset 2px grey;
                    background-color: rgb(146, 145, 145);
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    justify-content: center;
                    align-content: center;
                }

                    .cellDesign{
                        height: 8em;
                        width: 8em;
                        background-color: rgb(222, 220, 220);
                        border: solid 2px rgb(54, 54, 54);
                    }

/* tokens size  */
.token{
    width: 6em;
    height: 6em;
    margin: 1em;
}
