body{
    background-color: rgb(1,130,129) ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

/* windows 95 layout*/

    .window {
        width: 95%;
        height: 93%;
        margin: 1em;
        background-color: rgb(170, 169, 169);
        border: outset 2px rgb(170, 169, 169);
        box-shadow: unset solid black;
    }

        /* bar that simulates w95 window */
        .topBar{
            height: 20px;         
            background-image: linear-gradient(
                to right,
                rgb(0, 0, 146),
                rgb(3, 3, 218)
            );
            display: flex;
            justify-content: space-between;
            }

                /* Simulating the window name and icon from W95 OS */
                .windowInfo{
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    margin: 1px;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                }
                    .appIcon{
                        height: 17px;
                        width: 17px;
                        padding: 0%;
                    }

                    .appName{
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 500;
                        text-transform: capitalize;
                        margin-left: 5px;

                    }

                    /* icon */
                    .closeWindow{
                        height: 18px;
                        width: 18px;
                        padding: 0px;
                        margin: 1px;
                        background-color: rgb(170, 169, 169);
                        border: outset 2px rgb(170, 169, 169);
                        font-weight: 600;
                    }

        /* main container  */
        .container{
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        /* windows task bar  */
        .taskBar{
            height: 25px;
            width: 100%;
            background-color: rgb(170, 169, 169);
            border-top: outset 2px rgb(222, 220, 220);
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        /* w95 start button  */
        .homeW95{
            height: 23px;
            display: flex;
            flex-direction: row;
            border: outset 2px rgb(222, 220, 220);
            margin-right: 5px;
        }

                .iconW95{
                    height: 22px;
                    width: 22px;
                    margin-left: 2px;
                }
                .startW95{
                    color: black;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: large;
                    text-transform: capitalize;
                    display: flex;
                    align-items: end;
                    margin-left: 5px;
                    margin-right: 5px;
                }

        .tab{
            height: 23px;
            width: 15em;
            display: flex;
            flex-direction: row;
            background-color: rgb(161, 158, 158);
            border: inset 2px rgb(222, 220, 220);
        }
