body{
    background-color: rgb(1,130,129) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

/* windows 95 layout*/

    .window {
        width: 95%;
        height: 93vh;
        margin: 10px;
        background-color: rgb(170, 169, 169);
        border: outset 2px rgb(170, 169, 169)rey;
        box-shadow: unset solid black;
    }

        /* bar that simulates w95 window */
        .topBar{
            height: 20px;  
            margin: 1px;          
            background-image: linear-gradient(
                to right,
                rgb(0, 0, 146),
                rgb(3, 3, 218)
            );
            display: flex;
            justify-content: space-between;
            }

                /* Simulating the window name and icon from W95 OS */
                .windowInfo{
                    

                }

                /* icons */
                .closeWindow{
                    height: 18px;
                    width: 18px;
                    padding: 0px;
                    margin: 1px;
                    background-color: rgb(170, 169, 169);
                    font-weight: 600;
                }

                /* main container  */
                .container{
                    width: 100%;
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }