body{
    background-color: rgb(1,130,129) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}



/* user interface of the board game*/

    .window {
        height: 95vh;
        width: 95vw;
        margin: 10px;
        background-color: gray;
        border: outset 2px grey;
        box-shadow: unset solid black;
    }

        /* bar that simulates w95 window */
        .topBar{
            height: 5%;  
            margin: 1px;          
            background-image: linear-gradient(
                to right,
                rgb(0, 0, 146),
                rgb(3, 3, 218)
            );
            }

            /* icons */

            /* player turns and points  */
            .players{
                height: 10%;
                margin: 2px;
                display: flex;
                justify-content: space-between  ;
            }

                .playerPoints{
                    width: 45%;
                    border: inset 2px grey;
                    background-color: white;
                }

                /* restart button  */
                .reStart{
                    height: 10%;
                    margin-right: 2px;
                    border: inset 2px grey;
                    background-color: rgb(103, 103, 103);

                }

            /* table board  */




