.message{
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em;
    text-transform: uppercase;
}
.nameWinner{
    font-size: 8em;
    color: rgb(229, 229, 229);
}
/*buttons  */

.buttonsContainer{
    margin: 3em;
}

            .styleButton{
                height: 3em;
                width: 50%;
            }
