.container{
    display: flex;
    flex-direction: column;
}

/* user interface */

        .interface{
            width: 95%;
            display: flex;
            flex-direction: column;
            align-content: center;
        }

                /* restart button  */
            .buttonsContainer{
                margin: 0em;
                padding: 0em;
            }
            
                .shapeButtons{
                    height: 3em;
                    width: 90%;
                }
                    .styleButton{
                        height: 2em;
                        width: 70%;
                    }

            /* table board  */
            .tableBoard{
                width:  90%;
                margin: 2px;
            }
                    .cellDesign{
                        height: 5em;
                        width: 5em;
                    }

/* tokens size  */
.token{
    width: 3em;
    height: 3em;
    margin: 1em;
}