        /* user interface */

        .interface{
            width: 95%;
        }

                /* restart button  */
                .reStart{
                    height: 3em;
                    width: 90%;
                }

            /* table board  */
            .tableBoard{
                width:  90%;
                margin: 2px;
            }
                    .cellDesign{
                        height: 5em;
                        width: 5em;
                    }