/* windows 95 layout*/

.window {
    width: 95%;
    height: 80%;
    margin: 1em;
    background-color: rgb(170, 169, 169);
    border: outset 2px rgb(170, 169, 169);
    box-shadow: unset solid black;
}
