.container{
    display: flex;
    flex-direction: row;
}

/* user interface */

.interface{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
    .players{
        height: 67%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
        .playerPoints{
            width: 70% ;
        }

        /*buttons  */
        .buttonsContainer{
            margin: 0em;
            padding: 0em;
        }
        
            .shapeButtons{
                height: 3em;
                width: 90%;
            }
                .styleButton{
                    height: 3.5em;
                    width: 70%;
                }

            /* table board  */
            .tableBoard{
                height: 90%;
                width:  90%;
                margin: 2px;
            }
                    .cellDesign{
                        height: 4.5em;
                        width: 4.5em;
                    }

/* tokens size  */
.token{
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
}