.container{
    display: flex;
    flex-direction: row;
}

/* user interface */

.interface{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
    .players{
        height: 67%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
        .playerPoints{
            width: 70% ;
        }

        /* restart button  */
        .reStart{
            height: 33%;
            width: 90%;
        }

            /* table board  */
            .tableBoard{
                height: 90%;
                width:  90%;
                margin: 2px;
            }
                    .cellDesign{
                        height: 4.5em;
                        width: 4.5em;
                    }

/* tokens size  */
.token{
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
}